/* -------------------------------------------------------------
                       ⁡⁣⁢⁢​‌‌‌𝗟𝗮𝗿𝗴𝗲 𝗦𝗰𝗿𝗲𝗲𝗻​⁡ ​⁡
--------------------------------------------------------------- */
@media (min-width: 901px) and (max-width: 1000px){

    html,
    body {
        font-size: 15px;
    }

    .parent-container {
        width: 98%;
    }

    #first-container {
        width: 8%;
    }

    /* Second - Container  */
    #second-container {
        width: 90% !important;
    }

    #container-left {
        margin-left: 0.1rem;
    }

    #container-right {
        width: 36%;
    }

    /* ------------------------------------------------------------------------- 
                                  ⁡⁣⁣⁢​‌‌‌‍𝗜𝗡𝗗𝗘𝗫​⁡
  -------------------------------------------------------------------------  */
    /* ------------------------------------------------------------------------- 
                             ​‌‍‌⁡⁣⁢⁣𝗧𝗲𝗺𝗽𝗿𝗮𝘁𝘂𝗿𝗲 𝗦𝗲𝗰𝘁𝗶𝗼𝗻⁡​
  -------------------------------------------------------------------------  */
    .index #tempDegree,
    .index #DefaultCityName {
        font-size: 2.3rem !important;
    }

    /* for Index.html and features.html  */
    .first1 {
        gap: 3rem !important;
    }

    /* ------------------------------------------------------------------------- 
                                  ⁡⁣⁢⁣​‌‍‌𝗙𝗼𝗿𝗲𝗰𝗮𝘀𝘁 𝗦𝗲𝗰𝘁𝗶𝗼𝗻​⁡
  -------------------------------------------------------------------------  */

    /* ------------------------------------------------------------------------- 
                                  ⁡⁣⁢⁣​‌‍‌𝗔𝗱𝘃𝗶𝘀𝗼𝗿𝘆 𝗦𝗲𝗰𝘁𝗶𝗼𝗻​⁡
  -------------------------------------------------------------------------  */
    #advisory-section {
        height: auto !important;
        padding: 1rem 0rem;
    }

    /* ---------------------------
   ICON DESIGN 
---------------------------- */
    #advisory-section .conditionsData .solid-icons {
        padding: 1.4rem 0.5rem;
    }

    /* solid-icon i  */
    #advisory-section .conditionsData .solid-icons i {
        font-size: 1.6rem;
    }

    /* ------------------------------------------------------------------------- 
                                  ​‌‍‌‍⁡⁣⁢⁣𝗔𝗶𝗿 𝗖𝗼𝗻𝗱𝗶𝘁𝗶𝗼𝗻 - 𝗦𝗲𝗰𝘁𝗶𝗼𝗻⁡​
  -------------------------------------------------------------------------  */
    /* data-index h1 font size set  */
    .data-index h1 {
        margin-top: 0.3rem;
    }

    /* ------------------------------------------------------------------------- 
                                  ⁡⁣⁢⁣​‌‍‌𝗥𝗶𝗴𝗵𝘁 𝗖𝗼𝗻𝘁𝗮𝗶𝗻𝗲𝗿​⁡
  -------------------------------------------------------------------------  */

    /* ------------------------------------------------------------------------- 
                                 ⁡⁣⁢⁣​‌‍‌𝗙𝗼𝗿𝗲𝗰𝗮𝘀𝘁 𝗦𝗲𝗰𝘁𝗶𝗼𝗻​⁡
  -------------------------------------------------------------------------  */

    .index #forecast {
        gap: 0.8rem !important;
    }

    /* Index page Forecast Section Title  */
    .index #today-for {
        padding-top: 0.4rem !important;
    }

    .index #forecast #showForecast {
        gap: 0.4rem !important;
    }

    /* Wrapper Card on dark background */
    .index .wrapper {
        padding: 1rem 0px;
        width: 30% !important;
        gap: 0.7rem;
    }

    .index .wrapper img {
        width: 2.7rem !important;
        height: 2.7rem !important;
    }

    /* Wraper cards Hover – dark mode */
    .index .wrapper:hover {
        transform: translateY(-0px) scale(1.001);
    }

    /* Wrapper Card on p font size set */
    .index .wrapper p {
        font-size: 1.1rem;
    }

    .index #weekly-forecast #showWeeklyFor img {
        width: 2.7rem !important;
        height: 2.7rem !important;
    }


    /* ------------------------------------------------------------------------- 
                                ⁡⁢⁣⁣​‌‌‌𝗘​‌‌‌𝗡𝗗​ ​‌‌‌‍𝗜𝗡𝗗𝗘𝗫​ ⁡
  -------------------------------------------------------------------------  */

    /* ------------------------------------------------------------------------- 
                                ​‌‌‌⁡⁣⁣⁢𝗦𝘁𝗼𝗿𝗲 𝗖𝗶𝘁𝘆⁡​
  -------------------------------------------------------------------------  */


    /* ------------------------------------------------------------------------- 
                             ⁡⁢⁣⁣​‌‌‌𝗘𝗻𝗱 𝗦𝘁𝗼𝗿𝗲 𝗖𝗶𝘁𝘆​⁡ 
  -------------------------------------------------------------------------  */

    /* ------------------------------------------------------------------------- 
                                    ​‌‌‌⁡⁣⁣⁢𝗦𝗲𝘁𝘁𝗶𝗻𝗴⁡​
  -------------------------------------------------------------------------  */

    /* ------------------------------------------------------------------------- 
                                ​‌‌‌⁡⁢⁣⁣𝗘𝗻𝗱 𝗦𝗲𝘁𝘁𝗶𝗻𝗴⁡​
  -------------------------------------------------------------------------  */

    /* ------------------------------------------------------------------------- 
                                  ​‌‌‌⁡⁣⁣⁢𝗙𝗲𝗮𝘁𝘂𝗿𝗲𝘀⁡​
  -------------------------------------------------------------------------  */

    /* ------------------------------------------------------------------------- 
                              ​‌‌‌⁡⁢⁣⁣𝗘𝗻𝗱 𝗙𝗲𝗮𝘁𝘂𝗿𝗲𝘀⁡​
  -------------------------------------------------------------------------  */

    /* ------------------------------------------------------------------------- 
                                 ⁡⁣⁣⁢​‌‌‌ 𝗪𝗼𝗿𝗹𝗱 𝗠𝗮𝗽​⁡
  -------------------------------------------------------------------------  */

    /* ------------------------------------------------------------------------- 
                             ⁡⁢⁣⁣​‌‌‌𝗘𝗻𝗱 𝗪𝗼𝗿𝗹𝗱 𝗠𝗮𝗽​⁡
  -------------------------------------------------------------------------  */

}