/* Mobile ke liye (max-width 600px) */
@media (max-width: 600px) {
  html,
  body {
    height: auto !important;
  }

  .parent-container {
    height: auto !important;
    padding-top: 10px;
  }

  .parent-container,
  #first-container,
  #input-row,
  #search .fa-solid,
  #container-left,
  #main-section,
  #forecast-section,
  #showForecast,
  #airConditions-section,
  #conditionsData,
  #container-right {
    width: 100% !important;
  }

  /* Flex Direction  */
  #first-container,
  #column-section,
  #lowerDiv {
    flex-direction: row !important;
  }

  #forecast-section,
  #airConditions-section,
  #container-right {
    margin-top: 20px;
  }

  #first-container {
    height: 7% !important;
    position: fixed;
    bottom: 0px;
    left: 0px;
  }

  #column-section {
    justify-content: center !important;
    /* alrady hai check */
  }

  #lowerDiv i {
    font-size: 1.1rem !important;
  }

  .hidden,
  #lowerDiv p,
  #showForecast .dis-none {
    display: none !important;
  }

  #container-left {
    margin: 0% !important;
  }

  #temprature-section .first1 #tempDegree,
  #temprature-section .first1 #defaultCity {
    padding-left: 0px !important;
  }

  #input-row {
    margin-top: 5px;
  }

  #input-row input {
    font-size: 1rem;
    padding-left: 15px;
  }

  #search {
    width: 10% !important;
  }

  #column-section {
    border-radius: 0% !important;
  }

  #lowerDiv {
    width: calc(100% - 10%);
  }

  #second-container {
    flex-wrap: wrap;
  }

  #main-section {
    margin-top: 10px;
  }

  #main-section .first1 {
    width: 80% !important;
    padding-left: 15px;
  }

  #DefaultCityName {
    margin-bottom: 5px !important;
  }

  #tempDegree {
    margin-top: -10px;
  }

  #tempContent {
    margin-bottom: 20px;
  }

  #tempContent img {
    width: 90px !important;
    height: 90px !important; 
  }

  #forecast-section {
    height: auto !important;
    border-radius: 5% !important;
    padding: 15px 0px 20px 0px !important;
  }

  #showForecast {
    height: auto;
    flex-wrap: wrap;
    padding-top: 20px;
  }

  #showForecast .wrapper {
    width: 25%;
  }

  /* Border in Forecast section */
  #showForecast .rightB {
    height: auto !important;
    padding: 40px 0px;
    margin-left: 10px !important;
    margin-right: 10px !important;
  }

  /* wrapper margin */
  #showForecast .margin-t {
    margin-top: 20px !important;
  }

  #airConditions-section {
    border-radius: 5% !important;
    padding: 20px 5px 25px 15px !important;
  }

  #airConditions-section #airCon {
    width: 100% !important;
    height: auto;
    margin-top: -5px !important;
  }

  #airCon a {
    padding-right: 20px !important;
  }

  #conditionsData {
    width: 100% !important;
    justify-content: space-between !important;
    padding: 0 !important;
    padding-top: 20px !important;
  }

  .data-index {
    width: 45% !important;
  }

  .data-index h1 {
    font-size: 1.4rem !important;
  }

  #rainChance,
  #uvIndex {
    padding-top: 30px;
  }

  #airConditions-section #wind,
  #airConditions-section #uvIndex {
    padding-left: 0px !important;
  }

  /* Right Container Data */
  #container-right {
    border-radius: 5% !important;
    margin-bottom: 80px !important;
    padding-bottom:  20px;
  }

  #weekly-forecast .dayN{  
    width: 50px;
  }
  #container-right #showWeeklyFor{ 
    padding-top: 20px !important;
  }
  #showWeeklyFor .imgSpan{ 
    justify-content: center;
    gap: 15px;
  }
  #um-img {
    display: block;
    margin-bottom: -20px;
  }
  
  #um-img img {
    height: 100px;
    width: 70px;
  }
}
/* ///////////////////////////////////////////////////////////////////////////////////// */
