/* -------------------------------------------------------------
                            ⁡⁣⁢⁣​‌‌‍𝗥𝗲𝘀𝗽𝗼𝗻𝘀𝗶𝘃​⁡
--------------------------------------------------------------- */

/* Mobile (max-width 360px) */
@media (max-width: 360px) {

  html,
  body {
    font-size: 15px;
  }  
     
  /* Temprature Section  */
  .index #temprature,
  .responsive-feature #temprature {
    min-height: 170px !important;
  }

  #temprature #tempContent img {
    height: 4.5rem !important;
    width: 4.5rem !important;
  }

  #main-section {
    gap: 0.6rem;
  }

  #container-right {
    margin-top: 0.7rem;
  }

  
  /* ------------------------------------------------------------------------- 
                                  ⁡⁣⁣⁢​‌‌‌‍𝗜𝗡𝗗𝗘𝗫​⁡
  -------------------------------------------------------------------------  */

  /* ------------------------------------------------------------------------- 
                                  ⁡⁣⁢⁣​‌‍‌𝗔𝗱𝘃𝗶𝘀𝗼𝗿𝘆 𝗦𝗲𝗰𝘁𝗶𝗼𝗻​⁡
  -------------------------------------------------------------------------  */
  #advisory-section {
    padding: 0.7rem 0px !important;
  }

  /* Wrapper condition data */
  #advisory-section .conditionsData {
    gap: 0.5rem;
  }

  /* CondictionData data-index */
  #advisory-section .conditionsData .data-index {
    padding: 0.5rem 0px;
  }

  /* ---------------------------
   ICON DESIGN 
---------------------------- */
  #advisory-section .conditionsData .solid-icons {
    padding: 1rem 0.8rem;
  }

  /* solid-icon i  */
  #advisory-section .conditionsData .solid-icons i {
    font-size: 1.3rem;
  }

  /* ---------------------------
   CARD STYLES
---------------------------- */
  #advisory-section .card-desing {
    gap: 0.4rem;
  }

  /* ---------------------------
   TEXT STYLES
---------------------------- */
  /* Card sub  */
  #advisory-section .card-sub {
    margin-top: -3px;
  }


  /* ------------------------------------------------------------------------- 
                                  ​‌‍‌‍⁡⁣⁢⁣𝗔𝗶𝗿 𝗖𝗼𝗻𝗱𝗶𝘁𝗶𝗼𝗻 - 𝗦𝗲𝗰𝘁𝗶𝗼𝗻⁡​
  -------------------------------------------------------------------------  */

  /* Air - Condition Section padding & gap set  */
  #air-condition {
    padding: 0.7rem 0 1.2rem 0 !important;
  }

  /* Air - Condition condition data  */
  .conditionsData {
    width: 92% !important;
  }

  /* data-index h1 font size set  */
  .data-index h1 {
    font-size: 1.3rem !important;
    margin-top: 0.3rem;
  }

  /* ------------------------------------------------------------------------- 
                                  ⁡⁣⁢⁣​‌‍‌𝗥𝗶𝗴𝗵𝘁 𝗖𝗼𝗻𝘁𝗮𝗶𝗻𝗲𝗿​⁡
  -------------------------------------------------------------------------  */

  /* ------------------------------------------------------------------------- 
                                   ​‌‍‌⁡⁣⁢⁣𝗙𝗼𝗿𝗲𝗰𝗮𝘀𝘁 𝗦𝗲𝗰𝘁𝗶𝗼𝗻⁡​
  -------------------------------------------------------------------------  */
  .index #showForecast {
    gap: 0.5rem !important;
  }

  /* Wrapper Card on dark background */
  .index .wrapper {
    padding: 0.7rem 0 !important;
  }

  /* Hover – wrapper dark mode feel */
  .index .wrapper:hover {
    transform: translateY(-0.1px) scale(1.001);
  }

  /* ------------------------------------------------------------------------- 
                                ⁡⁢⁣⁣​‌‌‌𝗘​‌‌‌𝗡𝗗​ ​‌‌‌‍𝗜𝗡𝗗𝗘𝗫​ ⁡
  -------------------------------------------------------------------------  */


  /* ------------------------------------------------------------------------- 
                                ​‌‌‌⁡⁣⁣⁢𝗦𝘁𝗼𝗿𝗲 𝗖𝗶𝘁𝘆⁡​
  -------------------------------------------------------------------------  */
  /* City-wrapper active city left  */
  .city-wrapper.active .city-left {
    gap: 1rem !important;
  }

  /* ------------------------------------------------------------------------- 
                             ⁡⁢⁣⁣​‌‌‌𝗘𝗻𝗱 𝗦𝘁𝗼𝗿𝗲 𝗖𝗶𝘁𝘆​⁡ 
  -------------------------------------------------------------------------  */

  /* ------------------------------------------------------------------------- 
                                    ​‌‌‌⁡⁣⁣⁢𝗦𝗲𝘁𝘁𝗶𝗻𝗴⁡​
  -------------------------------------------------------------------------  */
  /* Subscribe Button width set  */
  .subscribe-btn {
    width: 75%;
  }

  .remove-btn {
    min-height: 63px !important;
  }

  /* ------------------------------------------------------------------------- 
                                ​‌‌‌⁡⁢⁣⁣𝗘𝗻𝗱 𝗦𝗲𝘁𝘁𝗶𝗻𝗴⁡​
  -------------------------------------------------------------------------  */


  /* ------------------------------------------------------------------------- 
                                  ​‌‌‌⁡⁣⁣⁢𝗙𝗲𝗮𝘁𝘂𝗿𝗲𝘀⁡​
  -------------------------------------------------------------------------  */
  /* Features  Weather Metric Sectoin gap & padding set  */
  #weatherMetrics {
    gap: 0.4rem;
  }

  /* Metric-Card width & padding set  */
  .metricCard {
    width: 48%;
    padding: 1.1rem 0rem 1.1rem 0.3rem;
  }

  /* ------------------------------------------------------------------------- 
                              ​‌‌‌⁡⁢⁣⁣𝗘𝗻𝗱 𝗙𝗲𝗮𝘁𝘂𝗿𝗲𝘀⁡​
  -------------------------------------------------------------------------  */

}

@media (max-width: 330px) {

  html,
  body {
    font-size: 14px;
  }

  .remove-btn {
    min-height: 58px !important;
  }

}

@media (max-width: 300px) {
  html,
  body {
    font-size: 13px;
  }

  .index .wrapper {
    border-radius: 0.7rem;
  }

  /* ------------------------------------------------------------------------- 
                                    ​‌‌‌⁡⁣⁣⁢𝗦𝗲𝘁𝘁𝗶𝗻𝗴⁡​
  -------------------------------------------------------------------------  */
  /* Subscribe Button width set  */
  .subscribe-btn {
    width: auto;
  }

  /* ------------------------------------------------------------------------- 
                                ​‌‌‌⁡⁢⁣⁣𝗘𝗻𝗱 𝗦𝗲𝘁𝘁𝗶𝗻𝗴⁡​
  -------------------------------------------------------------------------  */
}