/* Universal Selector  */
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Poppins", "Inter", "Nunito Sans", sans-serif;
  text-decoration: none;
}

/* html Body - Section */
html,
body {
  background-color: rgb(0, 0, 0);
  height: 100%;
  width: 100%;
}

/* Display Flex  */
body,
#lowerDiv div,
#showForecast div,
#conditionsData .data-index,
.flex-center {
  display: flex;
  justify-content: center;
  align-items: center;
}
#um-img {
  display: none;
}
/* Flex Colounm */
.flex-col {
  flex-direction: column;
}
/* Flex Between  */
.flex-betw {
  justify-content: space-between;
}

/* Color  */
/* Gray Light  */
.gray-light {
  color: #c4cad3;
}

.cool-gray {
  color: #9399a2;
}

/* secondary-bg */
.secondary-bg {
  background-color: rgb(32, 43, 59);
}
/* Parent - Container  */
.parent-container {
  background-color: rgb(11, 19, 30);
  width: 90%;
  height: 100vh;
  gap: 15px;
}

/* Fist - Container Cloumn data  */
#first-container {
  height: 94.95%;
  width: 6.5%;
}

/* Column - Section  */
#column-section {
  height: 100%;
  width: 100%;
  justify-content: start;
  border-radius: 15px;
}

/* Upper - Div  */
#upperDiv {
  height: 12%;
  width: 70%;
}

#upperDiv #tempImge img {
  height: 65px;
  width: 55px;
}

/* Lower Div  */
#lowerDiv {
  height: 55%;
  width: 70%;
  justify-content: space-evenly;
}

/* Lower Div Child Divs  */
#lowerDiv div {
  gap: 5px;
  color: #898f99;
  cursor: pointer;
}

/* Lower Div I  */
#lowerDiv i {
  height: 20px;
  width: 20px;
  font-size: 0.9rem;
}

/* Lower Div P  */
#lowerDiv p {
  font-size: 0.86rem;
  letter-spacing: 1.2px;
}

/* Lower Div Hover  */
#lowerDiv div:hover {
  color: #eeefef;
}

/* Lower Div Hover On P  */
#lowerDiv div:hover p {
  font-weight: 500;
}

/* Second - Container  */
#second-container {
  width: 88%;
  height: 94.95%;
}

/* Right - Container  */
#container-left {
  width: 63%;
  margin-left: 5px;
  height: 100%;
}

/* Input - row Section  */
#input-row {
  width: 100%;
  height: 40px;
  justify-content: start;
}

/* Input Row Section Input  */
#input-row input {
  width: 94%;
  height: 40px;
  font-size: 0.9rem;
  padding-left: 10px;
  color: white;
  border: none;
  border-top-left-radius: 12px;
  border-bottom-left-radius: 12px;
}

/* Input Placeholder  */
#input-row input::placeholder {
  color: rgb(255, 255, 255);
  opacity: 0.9;
  letter-spacing: 1.1px;
}

/* Input Focus  */
#input-row input:focus {
  outline: none;
}

input:focus-visible {
  outline: none;
}

/* Input Search  */
#input-row #search {
  width: 6%;
  height: 40px;
  border-top-right-radius: 12px;
  border-bottom-right-radius: 12px;
  cursor: pointer;
}

/* Input Search Icon  */
#input-row #search .fa-solid {
  font-size: 1rem;
  color: white;
}

/* Input Search fa-solid Icon Large */
#input-row #search .fa-solid:active {
  font-size: large;
}

/* AutoFill Section  */
input:-internal-autofill-selected,
input:-webkit-autofill,
input:-webkit-autofill:focus {
  -webkit-box-shadow: 0 0 0px 1000px rgb(32, 43, 59) inset !important;
  -webkit-text-fill-color: white !important;
  transition: background-color 9999s ease-in-out 0s !important;
}

input:-webkit-autofill::first-line,
input:autofill::first-line {
  color: white !important;
}

/* Left - Container  */
#container-right {
  width: 35%;
  height: 100%;
  border-radius: 25px;
}

/* Main - Section  */
#main-section {
  width: 100%;
  height: 100%;
  justify-content: space-evenly;
}

#main-section .mainContent {
  height: 32%;
  width: 100%;
}

#temprature-section {
  color: white;
}

#temprature-section .first1 {
  gap: 30px;
  align-items: start;
  width: 60%;
  height: 100%;
}

#temprature-section .first1 #tempDegree,
#temprature-section .first1 #defaultCity {
  width: 100%;
  padding-left: 30px;
}

#temprature-section #defaultCity div,
#tempDegree {
  font-size: 2.5rem;
  font-weight: bolder;
  margin-bottom: 10px;
}

#temprature-section #defaultCity div {
  color: #dde0e4;
}

#temprature-section #tempDegree span {
  color: #f0f1f1;
}

#temprature-section #defaultCity span {
  font-size: 0.9rem;
}

#temprature-section #tempContent {
  width: 30%;
}

#temprature-section #tempContent img {
  height: 10rem;
  width: 10rem;
}

/* Forecast Section  */
#forecast-section {
  border-radius: 25px;
  padding-bottom: 10px;
  padding-top: 12px;
}

#forecast-section #today-for {
  color: #d8dde5;
  width: 90%;
  justify-content: start;
  margin-bottom: 15px;
}

#forecast-section #showForecast {
  height: 100%;
  color: #d8dde5;
}

#showForecast div {
  margin-top: -10px;
  flex-direction: column;
}

.rightB {
  width: 1px;
  height: 90%;
  opacity: 1;
  background-color: rgb(53, 69, 94);
  border-radius: 2px;
  margin: 0px 20px;
}

#sixAm img,
#nineAm img,
#twelvePm img,
#threePm img,
#sixPm img,
#ninePm img {
  width: 50px;
  height: 50px;
}

#showForecast div h2 {
  padding-top: 2.5px !important;
}

#showForecast #ninePm {
  border: none !important;
}

#forecast-section #today-for p {
  font-size: 0.7rem;
  font-weight: 600;
}

/* Air Condition - Section  */
#airConditions-section {
  border-radius: 25px;
}

#airConditions-section #airCon {
  width: 90%;
  min-height: 20%;
  margin-top: 5px;
}

#airCon p {
  font-size: 0.7rem;
  font-weight: 700;
}

#airCon #seeBtn {
  font-size: 0.75rem;
  background-color: #44a3ff;
  color: #d8e3f4;
  border: none;
  cursor: pointer;
  padding: 3px 6px;
  border-radius: 10px;
}

#airCon #seeBtn:active {
  background-color: #2793ff;
}

#airConditions-section #conditionsData {
  width: 90%;
  height: 90%;
  flex-wrap: wrap;
  justify-content: start;
}

#conditionsData .data-index {
  height: 40%;
  width: 40%;
  gap: 10px;
  justify-content: start;
}

#airConditions-section #wind,
#airConditions-section #uvIndex {
  padding-left: 30px;
}

#conditionsData .data-index i {
  font-size: 1.1rem;
  font-weight: 600;
}

#conditionsData .solid-icons {
  margin-bottom: 27px;
}

#conditionsData .data-index p {
  font-size: 0.9rem;
  font-weight: 500;
}

#conditionsData .data-index h1 {
  font-size: 1.6rem;
}

/* Right Container  */
#container-right #weekly-forecast {
  width: 100%;
  height: 100%;
  justify-content: start;
}

#container-right #wf-heading {
  width: 85%;
  font-size: 0.8rem;
  font-weight: 600;
  padding-top: 20px;
}

#weekly-forecast #showWeeklyFor {
  width: 85%;
  height: 95%;
  gap: 1.6%;
}

#showWeeklyFor .foreCard {
  width: 100%;
}

#showWeeklyFor .dayN {
  font-size: 0.8rem;
  font-size: 500;
}

#showWeeklyFor .imgSpan {
  width: 45%;
  justify-content: space-around;
}

#showWeeklyFor .imgSpan span {
  font-size: 0.8rem;
  font-weight: 600;
}

#showWeeklyFor .containtDiv {
  width: 40%;
  justify-content: end;
}

#showWeeklyFor .min-max {
  font-weight: 600;
}

#showWeeklyFor .max-temp,
#showWeeklyFor .min-temp {
  font-size: 0.9rem;
}

#showWeeklyFor .slash {
  margin: 0 -2px;
}

#showWeeklyFor .bottomB {
  width: 100%;
  height: 1px;
  opacity: 1;
  background-color: rgb(53, 69, 94);
  border-radius: 2px;
}

/* ///////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////// */
