/* -------------------------------------------------------------
                            ⁡⁣⁢⁣​‌‌‍𝗥𝗲𝘀𝗽𝗼𝗻𝘀𝗶𝘃​⁡
--------------------------------------------------------------- */

/* Mobile (max-width 1000x) */
@media (max-width: 1000px) {

  /*  Star 2 side, but close */
  #tempContent.night::after {
    right: 10%;
  }

  /* Width 100% set  */
  .parent-container,
  #container-left #input-row,
  #container-left,
  #container-right {
    width: 100%;
  }

  /* ------------------------       ​‌‌‌⁡⁢⁣⁢𝗗𝗶𝘀𝗽𝗹𝗮𝘆 𝗡𝗼𝗻𝗲⁡​      ------------------------ */
  .storeCity #container-right,
  .responsive-feature #container-right {
    display: none;
  }

  /* Lower Div = Div Padding set */
  #lowerDiv div {
    padding: 0.8rem;
  }

  /* Container - Left margin Set  */
  #container-left {
    margin: 0%;
  }

  /* Temprature - Section tempDegree & defaultCity padding set  */
  #temprature .first1 #tempDegree,
  #temprature .first1 #defaultCity {
    padding-left: 0rem;
  }

  /* input-row margin set  */
  #input-row {
    margin-top: 0.312rem;
    width: 90%;
  }

  /* input-row = input  */
  #input-row input {
    font-size: 1rem;
    padding-left: 0.938rem;
  }

  /* Second - Container flex wrap set  */
  #second-container {
    flex-wrap: wrap;
    row-gap: 1.2rem;
  }

  /* Second - Container Main Sectoin  */
  #main-section {
    margin-top: 0.625rem;
    gap: 1rem;
  }

  /* Main Sectoin first1  */
  #main-section .first1 {
    width: 80%;
    padding-left: 0.938rem;
  }

  /* TempDegree margin set  */
  #tempDegree {
    margin-top: -0.625rem;
  }

  /* Temp Content margin set  */
  #tempContent {
    margin-bottom: 1.25rem;
  }

  /* Temp Content img widht & height set  */
  #temprature #tempContent img {
    width: clamp(5.625rem, 5.625rem + (100vw - 900px) * 0.044, 6.4rem);
    height: clamp(5.625rem, 5.625rem + (100vw - 900px) * 0.044, 6.4rem);
  }

  /* ⁡⁣⁢⁣​‌‍‌𝗥𝗶𝗴𝗵𝘁 𝗖𝗼𝗻𝘁𝗮𝗶𝗻𝗲𝗿 𝗗𝗮𝘁𝗮​⁡ */
  /* Container - Right Show Weekly forecast padding set  */
  #container-right #weekly-forecast #showWeeklyFor {
    padding-top: 1.2rem;
  }

  /* Umbrella Imge = div display none-set */
  #um-img {
    display: none;
  }

  /* ////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////// */

  /* ------------------------------------------------------------------------- 
                                  ⁡⁣⁣⁢​‌‌‌‍𝗜𝗡𝗗𝗘𝗫​⁡
  -------------------------------------------------------------------------  */
  /* ------------------------------------------------------------------------- 
                             ​‌‍‌⁡⁣⁢⁣𝗧𝗲𝗺𝗽𝗿𝗮𝘁𝘂𝗿𝗲 𝗦𝗲𝗰𝘁𝗶𝗼𝗻⁡​
  -------------------------------------------------------------------------  */

  #temprature .first1 {
    padding-left: 5%;
  }

  /* for Index.html and features.html  */
  #temprature .first1 {
    margin-top: -0.3rem;
    gap: 2.3rem;
  }

  /* TempDegree margin set  */
  .index #temprature #tempDegree {
    margin-top: -1.1rem;
  }

  /* ------------------------------------------------------------------------- 
                                  ⁡⁣⁢⁣​‌‍‌𝗔𝗱𝘃𝗶𝘀𝗼𝗿𝘆 𝗦𝗲𝗰𝘁𝗶𝗼𝗻​⁡
  -------------------------------------------------------------------------  */
  #advisory-section {
    padding: 1.1rem 0px;
  }

  /* Wrapper condition data */
  #advisory-section .conditionsData {
    flex-direction: column;
    gap: max(0.6rem,
        calc(0.7rem - (max(0px, 100vw - 600px) * 1)));
  }

  /* CondictionData data-index */
  .parent-container #advisory-section .conditionsData .data-index {
    width: 100%;
    padding: 0.7rem 0px 0.7rem .25rem;
    border-radius: 0.8rem;
  }

  /* ---------------------------
   ICON DESIGN 
---------------------------- */
  #advisory-section .conditionsData .solid-icons {
    padding: 1.2rem 0.8rem;
  }

  /* solid-icon i  */
  #advisory-section .conditionsData .solid-icons i {
    font-size: 1.4rem;
    height: 1.5rem;
  }

  /* ---------------------------
   CARD STYLES
---------------------------- */
  #advisory-section .card-desing {
    display: flex;
    flex-direction: column;
    gap: 0.4rem;
  }

  /* ---------------------------
   TEXT STYLES
---------------------------- */
  /* Card title  */
  #advisory-section .card-title {
    font-size: .85rem;
  }

  /* Card main value  */
  #advisory-section .card-value {
    font-size: 1.04rem;
  }

  /* Card sub  */
  #advisory-section .card-sub {
    margin-top: -5px;
    color: #d4d7ff;
  }

  /* ------------------------------------------------------------------------- 
                                  ​‌‍‌‍⁡⁣⁢⁣𝗔𝗶𝗿 𝗖𝗼𝗻𝗱𝗶𝘁𝗶𝗼𝗻 - 𝗦𝗲𝗰𝘁𝗶𝗼𝗻⁡​
  -------------------------------------------------------------------------  */
  /* Air - Condition condition data  */
  #advisory-section .conditionsData {
    width: clamp(90%, 90% + (100vw - 600px) * 10, 92%);
  }

  #air-condition .conditionsData {
    justify-content: space-between;
    padding-left: .1rem;
  }

  /* ConditoinData data-index width set  */
  #air-condition .data-index {
    width: 45%;
  }

  /* data-index h1 font size set  */
  .conditionsData .data-index h1 {
    font-size: 1.4rem;
    margin-top: 0.2rem;
  }

  /* rain chance & uv index padding set  */
  #rainChance,
  #uvIndex {
    padding-top: 1.875rem;
  }

  /* padd-left = padding - left set */
  .padd-left {
    padding-left: 0rem;
  }

  /* ------------------------------------------------------------------------- 
                                   ​‌‍‌⁡⁣⁢⁣𝗙𝗼𝗿𝗲𝗰𝗮𝘀𝘁 𝗦𝗲𝗰𝘁𝗶𝗼𝗻⁡​
  -------------------------------------------------------------------------  */
  /* Forecast - Section gap & margin set  */
  .index #forecast {
    gap: 1rem;
    width: 100%;
    padding-top: .6rem;
  }

  #showForecast .wrapper {
    width: 25%;
    border-radius: 0.625rem;
  }

  /* Hover – wrapper dark mode feel */
  .index .wrapper:hover {
    transform: translateY(-1px) scale(1.015);
  }

  /* Braker height set */
  .braker {
    height: 5px;
  }

  /* Show weekly forecast section gap set  */
  .index #container-right #showWeeklyFor {
    gap: .6rem;
  }

  /* ------------------------------------------------------------------------- 
                                ⁡⁢⁣⁣​‌‌‌𝗘​‌‌‌𝗡𝗗​ ​‌‌‌‍𝗜𝗡𝗗𝗘𝗫​ ⁡
  -------------------------------------------------------------------------  */


  /* ------------------------------------------------------------------------- 
                                  ​‌‌‌⁡⁣⁣⁢𝗙𝗲𝗮𝘁𝘂𝗿𝗲𝘀⁡​
  -------------------------------------------------------------------------  */
  /* Features Page  */
  .responsive-feature {
    min-height: 100vh;
  }

  /* Features  Weather Metric Sectoin gap & padding set  */
  #weatherMetrics {
    gap: 0.4rem;
    padding-top: 1rem;
  }

  /* Metric-Card width & padding set  */
  .metricCard {
    width: 48.5%;
    padding: 1.1rem 0rem 1.1rem 0.5rem;
  }

  /* Metric-Card Metric-Info P font size set  */
  .metricInfo p {
    font-size: 0.9rem;
  }

  /* Metric Card h3 font size set  */
  .metricCard h3 {
    font-size: 1.1rem;
  }

  /* ------------------------------------------------------------------------- 
                              ​‌‌‌⁡⁢⁣⁣𝗘𝗻𝗱 𝗙𝗲𝗮𝘁𝘂𝗿𝗲𝘀⁡​
  -------------------------------------------------------------------------  */

  /* ------------------------------------------------------------------------- 
                                ​‌‌‌⁡⁣⁣⁢𝗦𝘁𝗼𝗿𝗲 𝗖𝗶𝘁𝘆⁡​
  -------------------------------------------------------------------------  */
  /* ⁡⁢⁢⁢𝗔𝗻𝗶𝗺𝗮𝘁𝗶𝗼𝗻 𝗙𝗼𝗿 𝗦𝗺𝗮𝗹𝗹-𝗦𝗰𝗿𝗲𝗲𝗻⁡  */
  @keyframes slideRightShrink {
    0% {
      opacity: 1;
      transform: translateX(0) scale(1);
    }

    60% {
      opacity: 0.7;
      transform: translateX(60px) scale(0.96);
    }

    100% {
      opacity: 0;
      transform: translateX(120px) scale(0.88);
    }
  }

  .city-wrapper.remove {
    animation: slideRightShrink 0.45s ease forwards;
  }

  /* List City Section  */
  #listCity {
    padding-top: 1.25rem;
    padding-bottom: 5rem;
  }

  /* City-wraper city left  */
  .city-wrapper .city-left {
    transition: all 0.7s ease;
  }

  /* Store-city Second - Container = Container Left  */
  .storeCity #second-container #container-left {
    height: 92vh;
  }

  /* ------------------------------------------------------------------------- 
                             ⁡⁢⁣⁣​‌‌‌𝗘𝗻𝗱 𝗦𝘁𝗼𝗿𝗲 𝗖𝗶𝘁𝘆​⁡ 
 
  /* ------------------------------------------------------------------------- 
                                 ⁡⁣⁣⁢​‌‌‌ 𝗪𝗼𝗿𝗹𝗱 𝗠𝗮𝗽​⁡
  -------------------------------------------------------------------------  */
  /* Parent Container world Map height set  */
  .world-map #worldMap {
    height: 70vh;
  }

  /* Parent Container container right   */
  .world-map #container-right {
    height: 60vh;
    padding-bottom: 1rem;
    margin-bottom: 4rem;
    display: flex;
    justify-content: center;
  }

  /* ------------------------------------------------------------------------- 
                           ​‌‌‌⁡⁢⁣⁣ 𝗘𝗻𝗱 𝗪𝗼𝗿𝗹𝗱 𝗠𝗮𝗽⁡​
  -------------------------------------------------------------------------  */
}